
{{template "header"}}

  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1>TOKEN</h1>
        <p>
          {{if .token}}
          <a class="btn btn-primary btn-lg">{{.token}}</a>
          {{else}}
          <a class="btn btn-primary btn-lg" href="/callback">Authorize Now</a>
          {{end}}
        </p>
      </div>
    </div>

    <div class="list-group">
      <a href="/account" class="list-group-item active">Account</a>
      <a href="/recent" class="list-group-item">Recent</a>
      <a href="#" class="list-group-item">Item 3</a>
    </div>
  </div>
  

{{template "footer"}}